.todoContainer {
    flex-grow: 1;
    width: 100%;
}

.todoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.todoItem:hover {
    background-color: #f1f1f1;
}

.todoText {
    flex-grow: 1;
    font-size: 16px;
    color: #333;
}

.editText {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    /* background-color: #f5fffe; */
    box-shadow: 0px 0px  6px #c2c2c2;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.editText:hover {
    background-color: #f1f1f1;
}

.editText input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: box-shadow 0.2s ease;
}

.editText input[type="text"]:focus {
    box-shadow: 0px 0px 3px #007acc;
}

.editBtn, .deleteBtn, .saveEditBtn, .cancelEditBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    transition: background-color 0.3s ease;
}

.editBtn {
    color: #007acc;
}

.saveEditBtn {
    color: #00c853;
}

.cancelEditBtn {
    color: #f51818;
}

.editBtn:hover, .deleteBtn:hover, .saveEditBtn:hover, .cancelEditBtn:hover {
    background-color: white;
}
